h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-right: 0px;
  font-family: '36b1cc 3 0', sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  text-align: left;
}

a {
  font-family: Cmunoti, sans-serif;
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #fed031;
}

strong {
  font-family: Cmuntt, sans-serif;
  font-weight: 700;
}

em {
  background-color: #fed031;
  box-shadow: 15px 15px 32px -10px #d6d6d6;
  font-family: Cmunoti, sans-serif;
  font-style: normal;
  cursor: pointer;
}

em:hover {
  box-shadow: 15px 15px 32px -10px #a0a0a0;
  font-family: Cmunoti, sans-serif;
  color: #fff;
}

.info-navbar-link {
  display: block;
  margin-top: 1px;
  padding-top: 10px;
  float: right;
  font-family: '36b1cc 3 0', sans-serif;
  color: #000;
  font-size: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  cursor: pointer;
}

.info-navbar-link:hover {
  color: #fed031;
}

._25-navbar-child {
  width: 25%;
  height: 100%;
  padding-right: 1.4%;
  padding-left: 1.4%;
  border-style: none;
  border-bottom-width: 1px;
  border-bottom-color: #000;
}

.say-hi-mailto {
  display: block;
  margin-top: 1px;
  margin-left: 0%;
  padding-top: 8px;
  padding-left: 0%;
  float: left;
  color: #000;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 0.4px;
  text-decoration: none;
}

.say-hi-mailto:hover {
  color: #0014ff;
}

.say-hi-mailto.w--current {
  font-style: italic;
  letter-spacing: 0px;
}

._25-navbar-child-name-brand {
  width: 50%;
  height: 100%;
  padding-right: 1.4%;
  padding-left: 1.4%;
}

.div-block-9 {
  height: 45px;
  border-style: none;
  border-bottom-width: 1px;
  border-bottom-color: #000;
  letter-spacing: 0px;
}

.navbar-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  height: 45px;
  margin-right: auto;
  margin-left: auto;
}

.top-nav {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 20;
  height: 40px;
  border-style: none;
  border-color: #000;
  border-bottom-width: 1px;
  background-color: #fff;
  opacity: 1;
}

.dm-mobile {
  display: none;
  margin-top: 1px;
  padding-top: 8px;
  float: left;
  color: #000;
  font-size: 20px;
  letter-spacing: 0.8px;
  text-decoration: none;
}

.dm-mobile:hover {
  color: #0014ff;
}

.dm-mobile.w--current {
  display: none;
  letter-spacing: 1.4px;
}

.damiaan-melis {
  display: block;
  margin-top: 1px;
  padding-top: 10px;
  float: left;
  font-family: '36b1cc 0 0', sans-serif;
  color: #000;
  font-size: 20px;
  letter-spacing: 0px;
  text-decoration: none;
}

.damiaan-melis:hover {
  color: #0014ff;
}

.damiaan-melis.w--current {
  font-family: '36b1cc 3 0', sans-serif;
  letter-spacing: 0px;
}

.damiaan-melis.w--current:hover {
  color: #fed031;
}

.more-info-para {
  padding-top: 4px;
  font-family: '36b1cc 3 0', sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 23px;
}

.education {
  padding-bottom: 23px;
}

.div-block-6 {
  padding-bottom: 23px;
}

.mailto-link {
  display: block;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}

.mailto-link:hover {
  color: #0014ff;
}

.title {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: '36b1cc 0 0', sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
}

.detailed-about-info-child-contact {
  display: none;
  width: 25%;
  padding-right: 1.4%;
  padding-left: 1.4%;
}

.social-link {
  display: block;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

.social-link:hover {
  color: #0014ff;
}

.black-line-copy {
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #000;
}

.paragraph-3 {
  margin-top: 0px;
  padding-left: 16px;
  font-family: Cmuntt, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 23px;
  font-style: normal;
}

.detailed-about-info {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding: 48px 0% 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fed031;
}

.social-channel {
  padding-bottom: 0px;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.detailed-about-info-child {
  width: 25%;
  padding-right: 1.4%;
  padding-left: 1.4%;
}

.detailed-about-info-child-more-info {
  width: 50%;
  padding-right: 1.4%;
  padding-left: 2.4%;
}

.workshops {
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
}

.mailto-link-2 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Cmunoti, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

.mailto-link-2:hover {
  color: #fff;
}

.content-wrapper {
  position: relative;
  bottom: 0px;
  z-index: 10;
  background-color: #fff;
}

.project-section {
  padding-right: 2.2%;
  padding-left: 2.2%;
}

.top-spacer-section {
  width: 100vw;
  height: 70vh;
}

.slider {
  height: 700px;
  background-color: #000;
}

.slider.meliora {
  background-color: #000;
}

.slider.rules {
  background-image: url('../images/alinsky-black.jpg');
}

.slider.progressive-alliance {
  background-color: #000;
}

.slider.school-cuts {
  background-color: #000;
}

.slider.ai {
  background-image: url('../images/zuck.0.0-grad.jpg');
}

.project-info-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 31px;
  margin-bottom: 0px;
  padding-bottom: 50px;
}

.flex-child-50 {
  width: 50%;
  padding-right: 1.4%;
  padding-left: 0%;
}

.body {
  font-family: '36b1cc 0 0', sans-serif;
  font-size: 20px;
  line-height: 23px;
}

.project-para {
  font-family: '36b1cc 3 0', sans-serif;
  font-size: 20px;
  line-height: 23px;
}

.spacer-section {
  position: relative;
  z-index: 35;
  width: 100vw;
  height: 70vh;
  background-color: #fff;
  color: #fff;
}

.flex-child-50-descriptor {
  width: 50%;
  padding-right: 1.4%;
  padding-left: 1.4%;
}

.left-arrow {
  width: 40%;
}

.right-arrow {
  width: 40%;
}

.slide-nav {
  display: none;
}

.image {
  display: none;
  width: 100%;
  height: 100%;
}

.slide-flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide {
  background-color: transparent;
}

.mask {
  background-color: transparent;
}

.text-block-2 {
  margin-top: 1px;
  padding-top: 10px;
  font-family: '36b1cc 3 0', sans-serif;
  font-size: 20px;
}

.body-bold {
  font-family: '36b1cc 3 0', sans-serif;
  font-size: 20px;
  line-height: 23px;
}

.image-2 {
  float: right;
}

.star-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  height: 90%;
  float: right;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-spacer {
  position: relative;
  bottom: 0px;
  z-index: 15;
  width: 100%;
  height: 10px;
  margin-bottom: 386px;
  border-style: none;
  border-color: #000;
  border-bottom-width: 1px;
  background-color: #fff;
}

.text-block-3 {
  margin-top: 11px;
  font-family: Cmuntt, sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.left-arrow-off {
  display: none;
  width: 50%;
}

.right-arrow-off {
  display: none;
  width: 50%;
}

.body-2 {
  background-color: #fed031;
  cursor: default;
}

.mobile-warning {
  display: none;
}

.hero-flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  float: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.hero-type {
  display: none;
  font-family: '36b1cc 0 0', sans-serif;
  color: #000;
  font-size: 42px;
  line-height: 46px;
  text-align: center;
}

.div-block-10 {
  position: relative;
  z-index: 38;
  width: 100vw;
  height: 50%;
}

.index-flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 1200px;
  margin-top: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.index-flex-child {
  width: 50%;
  height: 350px;
  margin: 0px;
  padding: 28px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.project-descriptor-text {
  margin-top: 9px;
}

.project-name {
  display: inline-block;
  font-family: '36b1cc 3 0', sans-serif;
  font-size: 20px;
}

.project-date {
  display: inline-block;
  float: right;
  font-family: '36b1cc 3 0', sans-serif;
  font-size: 20px;
}

.rich-text-block {
  width: 1200px;
  padding-top: 20px;
  padding-left: 26px;
  color: #000;
  font-size: 37px;
  text-align: center;
}

.div-block-11 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.big-image-container {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.image-4 {
  -webkit-transform: rotate(17deg);
  -ms-transform: rotate(17deg);
  transform: rotate(17deg);
}

.tablet-footer {
  display: none;
}

.div-block-6-copy {
  padding-bottom: 23px;
}

.mobile-footer {
  display: none;
}

.detailed-about-info-child-mobile {
  width: 25%;
  padding-right: 1.4%;
  padding-left: 1.4%;
}

html.w-mod-js *[data-ix="navbar-hide-on-load"] {
  display: none;
}

@media (max-width: 991px) {
  ._25-navbar-child-name-brand {
    width: 50%;
  }
  .more-info-para {
    -webkit-column-count: 1;
    column-count: 1;
  }
  .div-block-6 {
    width: 50%;
  }
  .detailed-about-info {
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }
  .detailed-about-info-child {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .detailed-about-info-child.work {
    width: 50%;
  }
  .detailed-about-info-child-more-info {
    width: 50%;
    height: 500px;
  }
  .spacer-section {
    height: 100vh;
  }
  .slide-flex-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .text-block-2 {
    display: none;
  }
  .bottom-spacer {
    margin-bottom: 531px;
  }
  .mobile-warning {
    display: none;
  }
  .tablet-footer {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    height: 500px;
    padding-right: 4px;
  }
  .tablet-footer-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .contact-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .div-block-6-copy {
    width: 50%;
    padding-right: 22px;
  }
  .mobile-footer {
    display: none;
  }
  .mobile-footer-wrapper-copy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .detailed-about-info-child-mobile {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .detailed-about-info-child-mobile.work {
    width: 50%;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 22px;
    line-height: 26px;
  }
  .info-navbar-link {
    float: right;
  }
  .say-hi-mailto {
    display: none;
  }
  ._25-navbar-child-name-brand {
    padding-right: 0%;
    padding-left: 0%;
  }
  .navbar-container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .dm-mobile {
    display: block;
    font-family: '36b1cc 3 0', sans-serif;
    letter-spacing: 0px;
  }
  .dm-mobile:hover {
    color: #fed031;
  }
  .damiaan-melis {
    display: none;
  }
  .more-info-para {
    margin-bottom: 22px;
    -webkit-column-count: 1;
    column-count: 1;
  }
  .div-block-6 {
    padding-bottom: 17px;
  }
  .detailed-about-info {
    padding-top: 0px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .detailed-about-info-child {
    width: 100%;
    margin-top: 84px;
    padding-top: 0px;
    padding-right: 2.5%;
    padding-left: 2.5%;
  }
  .detailed-about-info-child-more-info {
    width: 100%;
    padding: 25px 0% 0px;
  }
  .content-wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }
  .project-section {
    padding-right: 0%;
    padding-left: 0%;
  }
  .slider {
    height: 300px;
  }
  .project-info-flex-container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .flex-child-50 {
    width: 100%;
  }
  .spacer-section {
    height: 450px;
  }
  .flex-child-50-descriptor {
    width: 100%;
    padding-top: 17px;
    padding-right: 0%;
    padding-left: 0%;
  }
  .text-block-2 {
    display: none;
  }
  .bottom-spacer {
    margin-bottom: 0px;
  }
  .mobile-warning {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 30;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
  }
  .text-block-4 {
    margin-top: 14px;
    font-family: '36b1cc 3 0', sans-serif;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }
  .image-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image-3 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .rich-text-block {
    padding-right: 15px;
    padding-left: 15px;
  }
  .tablet-footer {
    display: none;
    padding-right: 0px;
  }
  .tablet-footer-wrapper {
    padding-right: 15px;
    padding-left: 15px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .div-block-6-copy {
    padding-bottom: 17px;
  }
  .mobile-footer {
    display: block;
    width: 100%;
  }
  .mobile-footer-wrapper-copy {
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .detailed-about-info-child-mobile {
    width: 100%;
    margin-top: 84px;
    padding-top: 0px;
    padding-right: 2.5%;
    padding-left: 2.5%;
  }
  .detailed-about-info-child-mobile.work {
    width: 100%;
    padding-right: 0%;
    padding-left: 0%;
  }
}

@font-face {
  font-family: '36b1cc 1 0';
  src: url('../fonts/36B1CC_1_0.woff2') format('woff2'), url('../fonts/36B1CC_1_0.woff') format('woff'), url('../fonts/36B1CC_1_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '36b1cc 3 0';
  src: url('../fonts/36B1CC_3_0.woff2') format('woff2'), url('../fonts/36B1CC_3_0.eot') format('embedded-opentype'), url('../fonts/36B1CC_3_0.woff') format('woff'), url('../fonts/36B1CC_3_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '36b1cc 2 0';
  src: url('../fonts/36B1CC_2_0.woff2') format('woff2'), url('../fonts/36B1CC_2_0.eot') format('embedded-opentype'), url('../fonts/36B1CC_2_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '36b1cc 0 0';
  src: url('../fonts/36B1CC_0_0.woff') format('woff'), url('../fonts/36B1CC_0_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cmunoti';
  src: url('../fonts/cmunoti.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Cmuntt';
  src: url('../fonts/cmuntt.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lmmonoltcond10';
  src: url('../fonts/lmmonoltcond10-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lmmonoltcond10';
  src: url('../fonts/lmmonoltcond10-oblique.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}